html {}

body {
background-image: url("https://drscdn.500px.org/photo/73250251/m%3D900/29d55e5c7b9935ccad0602605445103a");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size:100% 100%;
margin:0px;
padding:0px;
background-color: #D3D3D3;
}

h1 {
color: white;
font-family: ailerons, sans-serif;
font-size: 50px;
text-shadow: 0 1px 0 whiteSmoke;
}
h2 {
color: white;
font-family: ailerons, sans-serif;
font-size: 25px;
}


.button {
  display: inline-block;
  font-family: ailerons, sans-serif;
  font-size: 20px;
  color: SlateGray;
  text-decoration: none;
  user-select: none;
  padding: 15px 32px;
  margin: 15px 20px;
  margin-top: 330px;
  width: 240px;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 20px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
  cursor: pointer;
}

.button:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

iframe {
	border: 6px solid white;
}

.hovergallery img{
-webkit-transform:scale(0.9); /*Webkit: < 0.8*/
-moz-transform:scale(0.9); /*Mozilla: <*/
-o-transform:scale(0.9); /*Opera: <*/
-webkit-transition-duration: 0.5s; /*Webkit: time animacion*/
-moz-transition-duration: 0.5s; /*Mozilla: time animacion*/
-o-transition-duration: 0.5s; /*Opera: time animacion*/
margin: 0 0px 3px 0; /*intervals*/
border: 2px solid whiteSmoke;
}

.hovergallery img:hover{
-webkit-transform:scale(1); /*Webkit: < 1.2x*/
-moz-transform:scale(1); /*Mozilla: mashtab*/
-o-transform:scale(1); /*Opera: mashtab*/
box-shadow:0px 0px 30px gray; /*CSS3 shadows: 30px shadows around img*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: shadows*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: shadows*/
opacity: 1;
}

.hovergallery img {
	width: 220px;
	hight: 200px;
}

.hovergallery {
	width: 920px;
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

.text {
	position: relative;
	width: 100%; /* for IE 6 */
}

h3 {
	position: absolute;
	top: 180px;
	left: 180px;
	width: 100%;
	color: white;
	font-family: PT Sans Narrow, sans-serif;
    font-size: 20px;
    }

#home {
	margin: 15px 20px;
	width: 150px;
}
 